.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0 20px;
}

.header > h4 {
  font-size: 25px;
}

.header > button {
  padding: 5px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

.dropdown:hover {
  background: #494949;
  color: #fff;
}
