<div class="userprofile">
  <div class="user">
    <img
      class="user-img"
      src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
      alt="image"
    />
    <div class="user-details">
      <h5>Rebecca Gilmore</h5>
      <p>Chicago, USA</p>
    </div>
  </div>
  <div class="stats">
    <div class="stats-left">
      <div class="img-wrapper">
        <img src="../../assets/icons/sun.svg" alt="sun" />
      </div>
      <div class="stats-details">
        <h4>257</h4>
        <p>Days in training</p>
      </div>
    </div>

    <div class="stats-right">
      <div class="img-wrapper">
        <img src="../../assets/icons/completed.svg" alt="completed" />
      </div>
      <div class="stats-details">
        <h4>31</h4>
        <p>Completed Courses</p>
      </div>
    </div>
  </div>
</div>
