.recommendeditem {
  width: 600px;
  height: 100%;
  border-right: 2px solid lightgray;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0 0 90px;
}

.item-header > h5 {
  font-size: 25px;
}

.item-total {
  background: #f3f3f3;
  padding: 10px;
  border-radius: 50%;
  margin-left: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 0 0 0px;
}
