<div class="recommendeditem">
  <div class="item-header">
    <h5>Recommended</h5>
    <div class="item-total">
      <p>28</p>
    </div>
  </div>

  <div class="cards">
    <app-recommendedcard
      descriptionProp="The 10-minutes ultimate legs workout"
      imageProp="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
      backgroundProp="#d2e2e1"
    ></app-recommendedcard>
    <app-recommendedcard
      descriptionProp="One man to Moon and Ultimate Space Universe 🚀"
      imageProp="https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?cs=srgb&dl=pexels-philippe-donn-1169754.jpg&fm=jpg"
      backgroundProp="#EEC9E8"
    ></app-recommendedcard>
  </div>
</div>
