<div class="navbar">
  <div class="nav-left">
    <div class="nav-link-container">
      <div class="logo-container">
        <img class="logo-img" src="../../assets/logo.png" alt="logo" />
      </div>
      <ul class="nav-links">
        <li class="nav-link">Home</li>
        <li class="nav-link">Workout</li>
        <li class="nav-link">Learn</li>
        <li class="nav-link">Hub</li>
        <li class="nav-link">Activity</li>
        <li class="nav-link">Leaderboard</li>
        <li class="nav-link">Community</li>
        <li class="nav-link">FAQ</li>
      </ul>
    </div>
  </div>
  <div class="nav-right">
    <div class="nav-useroptions">
      <button class="nav-button">
        <div class="button-icon">
          <img src="../../assets/icons/star.svg" />
        </div>
      </button>
      <button class="nav-button">
        <div class="button-icon">
          <img src="../../assets/icons/message.svg" />
        </div>
      </button>
      <button class="nav-button">
        <div class="button-icon">
          <img src="../../assets/icons/settings.svg" />
        </div>
      </button>
      <button class="nav-button">
        <div class="button-icon">
          <img src="../../assets/icons/user.svg" />
        </div>
      </button>
    </div>
  </div>
</div>
