<div class="navbar">
  <div class="nav-left">
    <div class="logo-container">
      <img class="logo-img" src="favicon.ico" alt="logo" />
    </div>
    <div class="nav-link-container">
      <ul class="nav-links">
        <li class="nav-link">Home</li>
        <li class="nav-link">Workout</li>
        <li class="nav-link">Learn</li>
        <li class="nav-link">Hub</li>
        <li class="nav-link">Activity</li>
        <li class="nav-link">Leaderboard</li>
        <li class="nav-link">Community</li>
        <li class="nav-link">FAQ</li>
      </ul>
    </div>
  </div>
  <div class="nav-right">
    <div class="nav-useroptions">
      <button>star</button>
      <button>msg</button>
      <button>settings</button>
      <button>user</button>
    </div>
  </div>
</div>
